# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.pid.lock

# Coverage
coverage
*.lcov
.nyc_output

# Dependencies
node_modules/

# TypeScript
*.tsbuildinfo
dist

# dotenv
.env
.env.*.local

# IDE
.vscode-test
.idea/

# OS
.DS_Store
Thumbs.db

# Backups
*.bak
